.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

body {
  margin: 0;
}

body,
input,
select,
textarea {
  background-color: #A6BBCA;
  font-family: GT-Walsheim, sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 1.2em;
  color: #133971;
	height: 100%;
}

button {
  color: #133971;
  font-family: GT-Walsheim, sans-serif;
  font-weight: medium;
  font-style: normal;
  font-size: 23px;
}

@media screen and (max-width: 849px) {

  body,
  input,
  select,
  textarea {
    font-size: 28px;
    line-height: 1.2em;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

a {
  /* clear: both; */
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  color: #fff;
  transition: 0.5s;
}

h2 {
  ont-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1em;
}

label {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.15em;
	text-transform: uppercase;
}

.title-small {
  margin: 0;
  padding-bottom: .15em;
}

.content {
  margin: 0 0 60px 0;
  max-width: 470px;
}

.site {
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
  width: 100%;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.block-text{
  padding-left: 80px;
  padding-top: 80px;
  padding-right: 40px;
}

@media screen and (max-width: 849px) {

  .image-container{
    top: 6px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
  }
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  width: 100%;
  display: table-row;
}

.contact a {
  color: #133971;
  font-size: 20px;
}

.tag {
  display: table-cell;
  padding-right: 40px;
}

@media screen and (max-width: 849px) {

  .info {
    line-height: 1.2em;
		margin: 40px 0px;
  }

  .block-text{
    padding-left: 40px;
    padding-top: 80px;
    padding-right: 40px;
  }

  .tag {
    display: table-cell;
    padding-right: 20px;
  }

}

@media screen and (max-width: 445px) {

  .tag {
    display: block;
    padding-right: 20px;
    padding-top: 20px;
  }

  .content {
    margin: 0 0 40px 0;
  }

}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
	padding-top: 0.5em;
	padding-left: 0.2em;
	font-size: 1.1em;
	color: white;
  background-color: #133971;
	/* height: 100%; */
}

.trigger {
	display: none;
	padding: .1em .5em;
	color: white;
	background: #133971;
	border: none;
	transform: rotate(90deg);
}

.trigger:hover {
	color: #A6BBCA;
}

.trigger:focus {
}

.main-nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 .3em;
	list-style-type: none;
}

.main-nav a {
	display: block;
	padding: .4em 1em;
	color: white;
	text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
CSS Grid layout
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

	@media screen and (min-width: 300px) {

    .site {
      position: relative;
      left: -310px;
      /* overflow-x: hidden; */
      display: grid;
      grid-template-columns: 360px calc(100% - 50px);
      grid-template-areas:
        "nav main main"
        "nav footer footer";
      transition: left .6s;
    }

    .reveal {
			left: 0;
		}

    .block-text {
			grid-area: main;
		}

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -15px;
      transition: left .6s;
    }

    .reveal .trigger {
      left: 295px;
    }

	}

}
