body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  background-color: #46795B;
  font-family: GT-Walsheim, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 68px;
  line-height: 1.2em;
  color: #E5E5E5;
}

@media screen and (max-width: 849px) {

  body,
  button,
  input,
  select,
  textarea {
    font-size: 45px;
    line-height: 1.2em;
  }

}

/* body {
	background: linear-gradient(-45deg, #D6D2D8, #707089, #251957, #A0A4B6);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

a {
  /* clear: both; */
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1em;
  text-decoration: none;
  color: #EF5A2F;
  transition: 0.5s;
}

a:hover {
  color: #B84F35;
  transition: 0.5s;
}

h3 {
  font-family: clarendon-urw-extra-wide, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1em;
}

.site {
	margin: 0 auto;
  width: 100%;
  overflow: hidden;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

.intro-text{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 150px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}
.image-container.anchor-top{
  transform-origin: top;
}

.image-container:hover{
  z-index: 2;
  border-radius: 5px;
  transform: scale(4);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
}

.image-container{
  position: relative;
  top: 10px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
  /* transition-property: width, transform, border-radius, box-shadow; */
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  outline-color: inherit;
  outline-style: none;
  cursor: pointer;
  outline-width: 0px;
}

@media screen and (max-width: 849px) {

  .image-container{
    top: 6px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
  }
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: #B4BEB2;
  padding: 8px 25px;
  border-radius: 30px;
}

.contact {
  margin: 0 0 35px 0;
}

.contact h3 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B4BEB2;
  margin: 0;
  line-height: 10px;
}

.info {
  margin-top: 1.5em;
  padding-right: 40px;
  padding-left: 40px;
}

/*--------------------------------------------------------------
CSS Grid layout
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

	@media screen and (min-width: 850px) {

		/* .site {
			max-width: none;
      display: grid;
			grid-template-columns: repeat(2, minmax(auto, 25em)) 1fr;
		} */

    .site {
      max-width: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

		.intro-text {
			grid-column: 1/6;
		}

    .info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 70px;
      grid-gap: 1em;
    }

	}

  @media screen and (max-width: 849px) {

    .contact {
			grid-column: 1/4;
		}

  }

}
