.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

body {
  margin: 0;
}

body,
input,
select,
textarea {
  background-color: #7B9E83;
  font-family: GT-Walsheim, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 68px;
  line-height: 1.2em;
  color: #fff;
	height: 100%;
}

button {
  color: #B9CDBD;
  font-family: GT-Walsheim, sans-serif;
  font-weight: medium;
  font-style: normal;
  font-size: 23px;
}

@media screen and (max-width: 849px) {

  body,
  input,
  select,
  textarea {
    font-size: 45px;
    line-height: 1.2em;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

a {
  /* clear: both; */
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  color: #fff;
  transition: 0.5s;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.15em;
	text-transform: uppercase;
}

.site {
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
  width: 100%;
  /* overflow: hidden; */

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

.intro-text{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 250px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.image-container.anchor-top{
  transform-origin: top;
}

.image-container:hover{
  z-index: 2;
  border-radius: 5px;
  transform: scale(4);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
}

.image-container{
  position: relative;
  top: 10px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
  /* transition-property: width, transform, border-radius, box-shadow; */
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  outline-color: inherit;
  outline-style: none;
  cursor: pointer;
  outline-width: 0px;
}

@media screen and (max-width: 849px) {

  .image-container{
    top: 6px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
  }
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: #fff;
  padding: 14px 35px;
  border-radius: 30px;
  color: #46795B;
}

.button:hover {
  background-color: #0D2E22;
}

.contact {
  margin: 0;
}

.contact h3 {
  color: #00000050;
  margin: 0;
}

.contact a {
  color: #00000050;
}

.info {
  padding-right: 40px;
  padding-left: 40px;
}

#footer {
	position: absolute;
	bottom: 0;
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
	padding-top: 0.5em;
	padding-left: 0.2em;
	font-size: 1.1em;
	color: white;
  background-color: #0D2E22;
	/* height: 100%; */
}

.trigger {
	display: none;
	padding: .1em .5em;
	color: white;
	background: #0D2E22;
	border: none;
	transform: rotate(90deg);
}

.trigger:hover {
	color: #B9CDBD;
}

.trigger:focus {
}

.main-nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-nav a {
	display: block;
	padding: .4em 1em;
	color: white;
	text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
CSS Grid layout
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

	@media screen and (min-width: 300px) {

    .site {
      position: relative;
      left: -310px;
      /* overflow-x: hidden; */
      display: grid;
      grid-template-columns: 360px calc(100% - 50px);
      grid-template-areas:
        "nav main main"
        "nav footer footer";
      transition: left .6s;
    }

    .reveal {
			left: 0;
		}

    .intro-text {
			grid-area: main;
		}

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -15px;
      transition: left .6s;
    }

    .reveal .trigger {
      left: 295px;
    }

		#footer {
			grid-area: footer;
		}

	}

	@media screen and (min-width: 629px) {

		.info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 80px;
      column-gap: 1em;
    }

}
