.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

body {
  margin: 0;
}

body,
input,
select,
textarea {
  background-color: #B6A6CA;
  font-family: GT-Walsheim, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 68px;
  line-height: 1.2em;
  color: #fff;
	height: 100%;
}

button {
  color: #B9CDBD;
  font-family: GT-Walsheim, sans-serif;
  font-weight: medium;
  font-style: normal;
  font-size: 23px;
}

figure {
	margin: 0;
}

@media screen and (max-width: 849px) {

  body,
  input,
  select,
  textarea {
    font-size: 45px;
    line-height: 1.2em;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

a {
  /* clear: both; */
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  color: #fff;
  transition: 0.5s;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.15em;
	text-transform: uppercase;
}

.site {
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
  width: 100%;
  /* overflow: hidden; */

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.contact {
  margin: 0;
}

.contact h3 {
  color: #00000050;
  margin: 0;
}

.contact a {
  color: #00000050;
}

.info {
  padding-right: 40px;
  padding-left: 40px;
}

#footer {
	position: absolute;
	bottom: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/


img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
	padding-top: 0.5em;
	padding-left: 0.2em;
	font-size: 1.1em;
	color: white;
  background-color: #0F084B;
	height: 100%;
}

.trigger {
	display: none;
	padding: .1em .5em;
	color: white;
	background: #0F084B;
	border: none;
	transform: rotate(90deg);
}

.trigger:hover {
	color: #B9CDBD;
}

.trigger:focus {
}

.main-nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-nav a {
	display: block;
	padding: .4em 1em;
	color: white;
	text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/

.cards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card-item img {
	border-radius: 20px;
	object-fit: cover;
	box-shadow: 0px 45px 40px rgba(0, 0, 0, 0.1);
}

.card > img {
	height: 60vh;
}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	background: hsla(246, 81%, 16%, .5);
	color: white;
	font-size: 13px;
	transition: all .4s;
}

a:focus .caption,
a:hover .caption {
	background: hsla(246, 81%, 16%, 1);
	border-radius: 20px;
}

.caption-title {
	margin: 0;
	font-size: 13px;
	line-height: 1em;
}


/*--------------------------------------------------------------
CSS Grid layout
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

	@media screen and (min-width: 300px) {

    .site {
      position: relative;
      left: -310px;
      /* overflow-x: hidden; */
      display: grid;
      grid-template-columns: 360px calc(100% - 50px);
      grid-template-areas:
        "nav main"
        "nav footer";
      transition: left .6s;
    }

    .reveal {
			left: 0;
		}

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -15px;
      transition: left .6s;
    }

    .reveal .trigger {
      left: 295px;
    }

		.main-area {
			margin: 10px 0px 150px 0px;
		}

		.cards {
			display: grid;
			grid-template-columns: 1fr;
			margin: 30px;
			grid-gap: 30px;
			padding: 0px;
			justify-content: center;
		}

		.cards a {
			margin-bottom: 0;
		}

		.card {
			display: grid;
		}

		.card img,
		.caption {
			grid-column: 1;
			grid-row: 1;
		}

		.caption {
			display: flex;
			align-items: flex-end;
			opacity: 0;
		}

		a:focus .caption,
		a:hover .caption {
			background: hsla(246, 40%, 30%, .6);
			opacity: 1;
		}

		#footer {
			grid-area: footer;
		}

	}


	@media screen and (min-width: 629px) {

		.info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 80px;
      column-gap: 1em;
    }

		.cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 40px;
			grid-gap: 40px;
			padding: 0px;
			justify-content: center;
		}


}
